/* common */

html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: Georgia;
}

h1 {
  padding: 0;
  margin: 0;
}

h2,
h3 {
  color: #006140;
}
h3 {
  font-size: 1rem;
}

.contents {
  display: block;
  width: 85%;
  margin: 0 auto;
}

li {
  list-style: none;
  margin-top: 24px;
}

p {
  line-height: 1.6;
}

body {
  font-family: SODO Sans, SoDoSansRegular, system-ui, Arial, serif;
}

.bg-style {
  background: linear-gradient(
      to bottom,
      transparent 0%,
      transparent 5%,
      #f2f0ea 10%
    ),
    url(./imgs/photo-1606486544554-164d98da4889.avif);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

/* header */

header .header_container {
  width: 80%;
  display: flex;
  /* margin: 36px auto; */
  margin: 0px auto;
  padding: 36px;
}

header h1 {
  font-size: 2.8rem;
  color: #f2f0ea;
  display: block;
  text-align-last: left;
}

@media only screen and (min-width: 550px) and (max-width: 768px) {
  h1 {
    font-size: 3.2rem;
  }

  header h1 {
    font-size: 3.2rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 2.2rem;
  }

  p {
    font-size: 1.2rem;
  }

  .section {
    padding: 50px;
  }
}

@media only screen and (min-width: 769px) {
  h1 {
    font-size: 4.2rem;
    padding: 36px;
  }

  header h1 {
    font-size: 4.2rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.4rem;
  }
  p {
    font-size: 1.6rem;
  }

  .section {
    padding: 60px;
  }
}

/* main */

main h2 {
  padding-bottom: 8px;
}

/* section */
.section {
  margin: 36px auto;
  width: 70%;
  background-color: rgba(249, 249, 249, 0.6);
  padding: 42px;
  border-radius: 8px;
}

/* section1 */

.place:first-child {
  margin-top: 16px;
}

.places {
  display: block;
  padding: 0;
  margin: 0px;
}
.place {
  color: #1e3832;
  width: 50%;
  margin: 1.6rem auto;
  text-align: center;
  padding: 1.6rem 0;
  background-color: #d4e8e1;
  margin-top: 8px;
  border-radius: 12px;
  box-shadow: 0 0 3rem -0.8rem;
}

.roast_img {
  display: block;
  width: 300px;
  height: 300px;
}

@media only screen and (min-width: 550px) and (max-width: 768px) {
  .places {
    display: flex;
    padding: 0;
    margin: 0px;
  }
  .place {
    margin: 1.2rem;
    width: calc(100% / 3);
  }

  .place li {
    display: table-cell;
    /* vertical-align: middle; */
  }

  .place h3 {
    display: block;
    padding: 16px;
  }
}

@media only screen and (min-width: 769px) {
  .places {
    display: flex;
    padding: 0;
    margin: 0px;
  }
  .place {
    margin: 1.2rem;
    width: calc(100% / 3);
  }
  .place li {
    display: table-cell;
    /* vertical-align: middle; */
  }

  .place h3 {
    display: block;

    padding: 16px;
  }
}
/* section2 */
.roast {
  color: #1e3832;
  width: auto;
  margin: 36px auto;
  text-align: center;
  padding: 24px 0;
  background-color: #d4e8e1;
  margin-top: 24px;
  border-radius: 12px;
  box-shadow: 0 0 3rem -0.8rem;
}

.roast_desc {
  padding-top: 12px;
  width: 60%;
  margin: 0 auto;
}

.roast_desc h3 {
  font-size: 1.4rem;
}
.roast_detail {
  display: flex;
  box-sizing: border-box;
  position: relative;
}

.roast_detail img {
  width: 50%;
  height: 50%;
}

.roast_detail p {
  display: inline;
  position: absolute;
  width: 45%;
  top: 50%;
  left: 50%;
  background-color: #f2f0ea;
  border-radius: 6px;
  color: #01754a;
  padding: 2px;
  box-sizing: border-box;
  font-size: 1rem;
}

@media only screen and (min-width: 550px) {
  .roast_details {
    display: flex;
  }

  .roast {
    margin-top: 42x;
  }

  .roast_detail {
    flex-direction: column;
    width: 50%;
    align-items: center;
    position: static;
  }

  .roast_detail img {
    display: block;
    width: 50%;
    align-items: center;
    margin-top: 12px;
  }

  .roast_detail p {
    display: block;
    position: static;
    margin-top: 12px;
    font-size: 1.6em;
  }
  .roast_detail img {
    width: 50%;
    height: 80%;
  }
}

/* section3*/
.step {
  display: flex;
}

.step_num {
  color: #006140;
  font-family: Georgia;
  display: block;
  height: 100%;
  width: 30%;
  text-align: center;
  font-size: 8em;
  align-items: center;
}

.step h3 {
  margin: 10px 0;
  font-size: 1.3rem;
}

.step {
  color: #006140;
  width: auto;
  margin: 24px auto;
  padding: 24px;
  background-color: #d4e8e1;
  margin-top: 24px;
  border-radius: 12px;
  box-shadow: 0 0 3rem -0.8rem;
}

.section:last-child {
  padding-bottom: 36px;
  margin-bottom: 0;
}

.step_desc {
  text-align-last: left;
  width: 70%;
}

.step_desc p {
  color: #000;
}

@media only screen and (min-width: 550px) and (max-width: 768px) {
  .step h3 {
    font-size: 2.2rem;
  }
  .step p {
    font-size: 1.2rem;
  }

  .step_num {
    font-size: 9rem;
  }
}

@media only screen and (min-width: 769px) {
  .step h3 {
    font-size: 2.4rem;
  }
  .step p {
    font-size: 1.6rem;
  }

  .step_num {
    font-size: 10rem;
  }
}
