/* common */

html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: Georgia;
}

h1 {
  padding: 0;
  margin: 0;
}

h2,
h3 {
  color: #006140;
}
h3 {
  font-size: 1rem;
}

.contents {
  display: block;
  width: 85%;
  margin: 0 auto;
}

li {
  list-style: none;
}

p {
  line-height: 1.6;
}

body {
  font-family: SODO Sans, SoDoSansRegular, system-ui, Arial, serif;
}
.bg-image-style {
  background: url(./imgs/photo-1606486544554-164d98da4889.avif) no-repeat 100%;
  background-size: cover;
}

.use_rgba-image {
  background: rgba(255, 255, 255, 0.118);
}

/* header */

.logo {
  position: relative;
  top: 60%;
  right: 20%;
}
header .header_container {
  background-image: url(./imgs/594px-Starbucks_Corporation_Logo_2011.svg.png);
  background-position: right 30%;
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
  width: 70%;
  color: #fff;
  padding: 36px;
  margin: 0px auto;
  border-radius: 12px;
  line-height: 1.4;
  overflow-wrap: break-word;
}

header h1 {
  width: 80%;
  margin-top: 8px;
  color: #f2f0ea;
  overflow-wrap: break-word;
}

.header_container .desktop {
  display: none;
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  h1 {
    font-size: 3.2rem;
  }
  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 2.2rem;
  }

  p {
    font-size: 1.2rem;
  }

  .section {
    padding: 50px;
  }
}

@media only screen and (min-width: 769px) {
  h1 {
    font-size: 4.2rem;
    padding: 36px;
  }

  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.4rem;
  }
  p {
    font-size: 1.6rem;
  }

  .section {
    padding: 60px;
  }
}

/* main */

main h2 {
  padding-bottom: 8px;
}

/* section */
.section {
  margin: 36px auto;
  width: 70%;
  background-color: rgba(249, 249, 249, 0.6);
  padding: 42px;
  border-radius: 8px;
}

/* section1 */

.place:first-child {
  margin-top: 16px;
}
.place {
  /* outline: 1px solid red; */
  color: #1e3832;
  width: 45%;
  margin: 1.6rem auto;
  text-align: center;
  padding: 1.6rem 0;
  background-color: #d4e8e1;
  margin-top: 8px;
  border-radius: 12px;
  box-shadow: 0 0 2.2rem -1.2rem;
}

.roast_img {
  display: block;
  width: 300px;
  height: 300px;
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .places {
    display: flex;
  }
  .place {
    margin: 1.2rem;
  }

  .place li {
    display: table-cell;
    vertical-align: middle;
  }

  .place h3 {
    display: block;
    padding: 16px;
  }
}

@media only screen and (min-width: 769px) {
  .places {
    display: flex;
  }
  .place {
    margin: 1.2rem;
  }
  .place li {
    display: table-cell;
    vertical-align: middle;
  }

  .place h3 {
    display: block;

    padding: 16px;
  }
}
/* section2 */
.roast {
  color: #1e3832;
  width: auto;
  margin: 24px auto;
  text-align: center;
  padding: 16px 0;
  background-color: #d4e8e1;
  margin-top: 16px;
  border-radius: 12px;
  box-shadow: 0 0 2.2rem -1.2rem;
}

.roast_desc {
  padding-top: 12px;
  width: 60%;
  margin: 0 auto;
}

.roast_detail {
  display: flex;
  box-sizing: border-box;
  position: relative;
}

.roast_detail img {
  width: 50%;
  height: 50%;
}

.roast_detail p {
  display: inline;
  position: absolute;
  width: 45%;
  top: 50%;
  left: 50%;
  background-color: #f2f0ea;
  border-radius: 6px;
  color: #01754a;
  padding: 2px;
  box-sizing: border-box;
  font-size: 1rem;
}

@media only screen and (min-width: 480px) {
  .roast_details {
    display: flex;
  }

  .roast_detail {
    flex-direction: column;
    width: 50%;
    align-items: center;
    position: static;
  }

  .roast_detail img {
    display: block;
    width: 50%;
    align-items: center;
    margin-top: 12px;
  }

  .roast_detail p {
    display: block;
    position: static;
    margin-top: 12px;
  }
}

/* section3*/

.step h3 {
  margin: 16px 0;
}

.step {
  color: #1e3832;
  width: auto;
  margin: 24px auto;
  text-align: center;
  padding: 16px;
  background-color: #d4e8e1;
  margin-top: 16px;
  border-radius: 12px;
  box-shadow: 0 0 2.2rem -1.2rem;
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .section {
  }
}
